body {
    min-height: 100vh;
    background: #b1bccf;
}

html {
    min-height: 100vh;
}

main {
    padding-left: 250px;
    min-height: 100vh;
    max-width: 100%;
    background: #b1bccf;
    background: linear-gradient(#c8d6eb, #e6bdc8);
    overflow-x: hidden;
}

.lrform {
    padding-left: 0 !important;
}

.btn {
    cursor: pointer;
}

.btn:hover,
.btn:focus,
.btn:active {
    outline: none !important;
}

.btn-sh {
    background: #b1bccf;
    border-color: transparent;
    background: linear-gradient(45deg, #8daadb, #d1a3b0);
    font-weight: bold;
    color: #fff;
}

.btn-sh:hover,
.btn-sh:focus,
.btn-sh:active {
    border-color: transparent;
    background: linear-gradient(45deg, #78a3ec, #db8fa4) !important;
    color: #fff !important;
}

.text-sh {
    background: -webkit-gradient(linear, left top, left bottom, from(#78a3ec), to(#db8fa4));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

input.apple-switch {
    position: relative;
    -webkit-appearance: none;
    outline: none;
    width: 50px;
    height: 30px;
    background-color: #fff;
    border: 1px solid #D9DADC;
    border-radius: 50px;
    box-shadow: inset -20px 0 0 0 #fff;
}

input.apple-switch:after {
    content: "";
    position: absolute;
    top: 1px;
    left: 1px;
    background: transparent;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
}

input.apple-switch:checked {
    box-shadow: inset 20px 0 0 0 #4ed164;
    border-color: #4ed164;
}

input.apple-switch:checked:after {
    left: 20px;
    box-shadow: -2px 4px 3px rgba(0, 0, 0, 0.05);
}

.form-control:focus,
.form-select:focus {
    border-color: #d9afbb !important;
    box-shadow: none !important;
}

.mw-400 {
    width: 100%;
    max-width: 400px;
}

.dropdown-toggle {
    outline: 0;
}

.sidebar {
    width: 250px;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
}

.bg-white-50 {
    background-color: rgba(255, 255, 255, 0.5) !important;
}

.bg-white-75 {
    background-color: rgba(255, 255, 255, 0.75) !important;
}

.mw-100 {
    max-width: 100% !important;
}

.horizontal-scrollable {
    overflow-x: auto;
    white-space: nowrap;
}

.security-cam {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    height: 235px;
}

.speaker .btn {
    border-radius: 50%;
}

.speaker .btn:hover,
.speaker .btn:focus,
.speaker .btn:active {
    border-color: transparent !important;
    cursor: pointer !important;
}

.doors-control ul li .badge {
    cursor: pointer;
    user-select: none;
}

/* responsive */
@media (max-width: 768px) {
    main {
        padding-top: 60px;
        padding-left: 0;
    }

    .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        overflow: hidden;
        width: 100%;
        transition: all 0.3s ease-in-out;
    }

    nav {
        display: none;
    }

    nav.active {
        display: block;
    }

    .sidebar-toggle .sidebar {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100vh;
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 1000;
        background: #fff !important;
    }
}