*,
*:before,
*:after {
    box-sizing: border-box;
    font-family: 'Inter';
}

html,
body {
    min-height: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

ol,
ul {
    list-style: none;
}

header {
    height: 80px;
    display: flex;
    padding: 12px;
}

header ul {
    margin-left: auto;
    display: flex;
}

header ul li {
    margin-right: 32px;
}

header ul li a {
    font-family: 'Inter';
    text-decoration: none;
    font-size: 20px;
    line-height: 24px;
    margin-right: 32px;
    text-transform: uppercase;
    color: #000000;
}

header ul.right li:last-child {
    margin-right: 0;
}

header ul.right li:last-child a {
    margin-right: 24px;
}

.bg {
    background: url('../img/bg1.png') no-repeat center center;
    background-size: cover;
}

.bg2 {
    background: linear-gradient(#c8d6eb, #e6bdc8) !important;
}

main {
    height: 100vh;
    max-height: 100vh;
    overflow-x: auto;
    overflow-y: hidden;
}

main .container>p {
    max-width: 800px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #000000;
    text-align: right
}

.btn-primary {
    background-color: #3980A1 !important;
    border-color: #3980A1;
}


.btn-sh {
    background: #b1bccf;
    border-color: transparent;
    background: linear-gradient(45deg, #8daadb, #d1a3b0);
    font-weight: bold;
    color: #fff !important;
}

.btn-sh:hover,
.btn-sh:focus,
.btn-sh:active {
    border-color: transparent;
    background: linear-gradient(45deg, #78a3ec, #db8fa4) !important;
    color: #fff !important;
}

.mw-400 {
    width: 100%;
    max-width: 400px;
}

.header ul {
    display: none;
}

@media (max-width: 992px) {
    div.navbar-collapse {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #fff;
        left: 0;
        right: 0;
        top: 80px;
        position: absolute;
        padding: 8px 16px 4px 16px;
    }

    div.navbar-collapse ul {
        margin-left: 0 !important;
        padding: 0;
    }

    div.navbar-collapse ul li {
        margin-bottom: 8px;
    }

    h1.ms-auto {
        margin-right: 12px;
    }
}