

*{
    margin: 0;
    padding: 0;
}

/* Background image */

.main {
    width: 100%;
    height: 100%;
    background-image: url(landingpage.jpg);
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* 
    Form box colors 
    Colors may change! 
*/

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    background: #3734438f;
    border-radius: 8%;
    margin:  10% auto;
    font-family: 'Quicksand', sans-serif;
}

/* 
    Form box title
*/
.form-box h2 {
    font-size: 26px;
    color: white;
    text-align: center;
    padding: 20px;
    font-family: 'Quicksand', sans-serif;
}

/*
    Landing page buttons
*/

.button-link {
    position: relative;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background:#000C1C;
    outline: none;
    color: rgba(255, 255, 255, 0.933);
    font-size: 12px;
    cursor: pointer;
    top: 15%;
    left: 25%; 
    font-family: 'Quicksand', sans-serif;
    margin-left: 5%;
}

.button-producer{
    padding: 20px 52px;
}

/* 
    Fields and log in button padding etc.
*/

.input-group {
    position: absolute;
    top: 100px;
    width: 200px;
    color: rgb(17, 17, 17);
    margin: auto 5px ;
    font-family: 'Quicksand', sans-serif;
    
}

/* 
    Username and password fields
*/

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid;
    margin: 10px 40%;
    background: rgb(204, 228, 236);
    font-family: 'Quicksand', sans-serif;
}

/* 
    Log in button
*/
.submit-btn {
    display: block;
    position: relative;
    padding: 20px 50px;
    border: none;
    border-radius: 10px;
    background:#000C1C;
    outline: none;
    color: rgba(255, 255, 255, 0.933);
    font-size: 12px;
    cursor: pointer;
    margin: 5px 60%;
    font-family: 'Quicksand', sans-serif;
}

.error{
    color:white;
}

