

*{
    margin: 0;
    padding: 0;
}

/* Background image */

.main {
    width: 100%;
    height: 100%;
    background-image: url(landingpage.jpg);
    position: absolute;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

/* 
    Form box colors 
    Colors may change! 
*/

.form-box {
    width: 380px;
    height: 480px;
    position: relative;
    background: rgba(255, 2, 2, 0.155);
    box-shadow: 0 0 20px 9px rgba(115, 72, 72, 0.54);
    border-radius: 8%;
    margin:  10% auto;
}

/*
    Button link needs to improve
*/

.button-link {
    position: relative;
    padding: 20px 50px;
    border: none;
    background:rgb(106, 92, 143);
    outline: none;
    color: rgba(255, 255, 255, 0.933);
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    top: 30%;
    left: 30%; 
}