@media only screen and (max-width: 1600px){
    .grid-container{
        grid-template-columns: 0.4fr 0.4fr;
        padding-left: 50px;
        padding-right: 50px;
        justify-content: center;
    }
}

@media only screen and (max-width: 1075px){
    .grid-container{
        display: grid;
        grid-template-columns: 0.4fr;
        padding-left: 110px;
        padding-right: 110px;
        align-items: center;
        justify-content: center;
    }

    .content-container{
        width: 80%;
    }

    body{
        width: 80%;
    }
}

@media only screen and (max-width: 874px){
    .wrapper {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 0.4fr;
        padding-left: 110px;
        padding-right: 110px;
        align-items: center;
        justify-content: center;
    }

    .content-container{
        width: 70%;
    }

    body{
        width: 80%;
    }
     
    #buttons01{
        display: grid;
        grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
        padding-left: 10px;
        padding-right: 10px;
    }
}

@media only screen and (max-width: 680px){
    .wrapper {
        display: flex;
        gap: 40px;
        justify-content: space-between;
        flex-direction: column;
        align-items: center;
    }

    .grid-container{
        display: grid;
        grid-template-columns: 0.4fr;
        padding-left: 40px;
        padding-right: 40px;
        align-items: center;
        justify-content: center;
    }

    .content-container{
        width: 80%;
    }

    body{
        width: 80%;
    }
    
    #buttons01{
        display: grid;
        grid-template-columns: 0.1fr 0.1fr;
    }
    .control-body01 img{
        width: 100%;
        max-width: 388px;
        min-width: 200px;
        height: auto;
    }
}